.training {
    font-family:'Open Sans Condensed', sans-serif;
    position:fixed; 
    height:100%; 
    width:100%;
    background-color:black;
    margin: -20px 0 0 0;
    width: 100%;
    color: white;
    overflow-y: auto;
}