.homepage {
    position:fixed; 
    height:100%; 
    width:100%;
    background-color:black;
    margin: -21px 0 0 0;
    width: 100%;
}

.title1 {
    color: white;
    margin-top: 75px;
}

.title3 {
    margin-top: 100px;
    color: white;    
}

.links {
    margin-top: 100px;
}

.links a {
    color: #E1AD01;
    padding: 50px;
    font-weight: bold;
    font-size: 20px;
}