nav {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

a {
    padding: 10px;
    margin: 5px;
    color: black;
    font-weight: bold;
    font-size: 18px;    
    text-decoration: none;
}